.home {
    .home-container {
        height: 100vh;
        align-content: center;
        background: linear-gradient(rgba(13, 94, 97, 0.9), rgba(13,94,97, 0.3)), url('../../asset/images/background.jpg');
        border-radius: 0px 0px 0px 20%;
        .home-data {
            padding: 150px 85px;
            width: 60%;
            font-family: 'Poppins';
            .home-title {
                padding-top: 100px;
                font-size: 35px;
                font-weight: 700;
                margin-bottom: 10px;
                text-transform: capitalize;
                color: #fff;
                letter-spacing: 2px;
                line-height: 45px;
                span {
                    color: rgb(18, 185, 68);
                }
            }
            .home-description {
                color: #fff;
                font-size: 15px;
                font-weight: 300;
                font-family: 'Poppins';
                line-height: 25px;
                padding-bottom: 30px;
            }
            .button {
                background: #fff;
                padding: 8px 15px;
                border-radius: 25px;
                text-decoration: none;
                border: 1px solid rgb(18, 185, 68);
                color: rgb(18, 185, 68);
               
            }
        }
    }
    .welcome-section {
        width: 100%;
        margin-top: 250px;
        align-content: center;
        font-family: 'Poppins';
        .welcome-note {
            justify-content: center;
            .welcome-img {
                .image {
                    border-radius: 10px;
                    width: 400px;
                    height: 250px;
                }
            }
            .welcome-text {
                .title {
                    font-size: 30px;
                    font-weight: 700;
                    text-transform: capitalize;
                }
                .description {
                    width: 80%;
                    text-align: justify;
                }
                ul {
                    li {
                        margin: 0px 20px;
                        font-weight: 500;
                        font-size: 14px;
                        text-align: justify;
                    }
                }
                .heartrate {
                    height: 10px;
                    margin-left: 0.2rem;
                }
            }
        }
        .reason-section {
            margin: 250px 0px 0px -15px;
            align-content: center;
            background: #fafafa;
            width: 98.7vw;
            
            .reason {
                justify-content: center;
                .text {
                    padding: 30px 0px;
                    .text-title {
                        font-size: 25px;
                        font-weight: 700;
                        text-transform: capitalize;
                    }
                    .heartrate {
                        height: 10px;
                        margin-left: 0.2rem;
                        fill: crimson;
                    }
                    .divs {
                        margin-top: 50px;
                        .first {
                            padding: 10px 10px;
                            transition: .5s;
                            .title {
                                padding-bottom: 10px;
                                font-size: 15px;
                                font-weight: 700;
                                text-transform: capitalize;
                            }
                            .description {
                                padding-bottom: 40px;
                                font-size: 13px;
                            }
                        }
                        .first:hover {
                            background: rgba(255, 255, 255, 0.774);
                            border-radius: 10px;
                            box-shadow: 2px 0px 10px rgba(13, 94, 97, 0.137);
                            transform: translateY(-10%);
                        }
                    }
                }
                .image {
                    padding: 30px 10px;
                    .stethoscope {
                        margin-top: 90px;
                        width: 450px;
                        padding-left: 30px;
                    }
                }
            }
        }
    }

    .our-teams-section {
        font-family: 'Poppins';
        padding-top: 100px;
        // width: 100%;
        // margin: 0;
        // padding: 0;
        .team-subtitle {
            font-size: 15px;
            font-weight: 400;
            color: crimson;
            text-align: center;
            text-transform: capitalize;
            margin-bottom: 50px;
        }
        .our-teams-title {
            text-align: center;
            font-size: 30px;
            align-content: center;
            text-transform: capitalize;
            font-weight: 700;
            padding-bottom: 5px;
        }
        .our-teams {
            width: 100%;
            margin-bottom: 20px;
            .team {
                width: 33%;
                margin-right: auto;
                margin-left: auto;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.068);
                border-radius: 10px;
                margin-bottom: 20px;
                transition: .5s;
                .stethoscope {
                    width: 300px;
                    padding: 50px;
                }
                .team-details {
                    text-align: center;
                    .team-name {
                        font-size: 17px;
                        font-weight: 700;
                        color: green;
                        text-transform: capitalize;
                    }
                    .team-post {
                        padding-bottom: 20px;
                        text-transform: capitalize;
                        font-weight: 400;
                    }
                }
            }
            .team:hover {
                transform: translateY(-30px);
                transition: .5s;
            }
        }
    }
    .contact-section {
        margin-top: 150px;
        font-family: 'Poppins';
        .contact-container {
            justify-content: center;
            align-items: center;
            margin: 20px;
            .contact-data {
                justify-content: center;
                .section-subtitle {
                    font-size: 18px;
                    font-weight: 400;
                    color: crimson;
                }
                .section-title {
                    font-size: 35px;
                    font-weight: 700;
                    text-transform: capitalize;
                    padding-bottom: 30px;
                }
                .contact-description {
                    font-weight: 400;
                }
                .address {
                    padding: 5px 20px 3px 0;
                    font-family: 'Poppins';
                    span {
                        font-weight: 600;
                        padding-right: 10px;
                    }
                }
            }
            .contact-button {
                justify-content: center;
                align-content: center;
                .button {
                    padding: 10px 10px;
                    text-align: center;
                    background: crimson;
                    border-radius: 5px;
                    text-decoration: none;
                    color: #fff;
                    transition: .5s;
                }
                .button:hover {
                    background: transparent;
                    border: solid 2px crimson;
                    color: crimson;
                    transition: .5s;
                }
            }
        }
    }
}



@media only screen and (max-width: 768px) {
    .home {
        .home-container {
            height: 100vh;
            align-content: center;
            background: linear-gradient(rgba(13, 94, 97, 0.9), rgba(13,94,97, 0.3)), url('../../asset/images/background.jpg');
            border-radius: 0px 0px 25% 25%;
            width: 100%;
            .home-data {
                padding: 100px 15px;
                width: 100%;
                font-family: 'Poppins';
                .home-title {
                    padding-top: 100px;
                    font-size: 30px;
                    font-weight: 700;
                    margin-bottom: 10px;
                    text-transform: capitalize;
                    color: #fff;
                    line-height: 35px;
                    span {
                        color: rgb(18, 185, 68);
                    }
                }
                .home-description {
                    color: #fff;
                    font-size: 15px;
                    font-weight: 300;
                    font-family: 'Poppins';
                    line-height: 20px;
                    padding-bottom: 30px;
                }
                .button {
                    background: #fff;
                    padding: 8px 15px;
                    border-radius: 25px;
                    text-decoration: none;
                    border: 1px solid rgb(18, 185, 68);
                    color: rgb(18, 185, 68);
                   
                }
            }
        }
        .welcome-section {
            width: 100%;
            margin-top: 150px;
            align-content: center;
            .welcome-note {
                justify-content: center;
                .welcome-img {
                    margin-bottom: 20px;
                    .image {
                        border-radius: 10px;
                        width: 100%;
                        height: 250px;
                    }
                }
                .welcome-text {
                    .title {
                        font-size: 30px;
                        font-weight: 700;
                        text-transform: capitalize;
                    }
                    .description {
                        width: 100%;
                        text-align: justify;
                    }
                    ul {
                        li {
                            margin: 0px 20px;
                            font-weight: 500;
                            font-size: 14px;
                            text-align: justify;
                        }
                    }
                    .heartrate {
                        height: 10px;
                        margin-left: 0.2rem;
                    }
                }
            }
            .reason-section {
                margin: 100px 0px 0px -15px;
                align-content: center;
                background: #fafafa;
                width: 99.9vw;
                
                .reason {
                    justify-content: center;
                    .text {
                        padding: 30px 10px;
                        width: 90%;
                        .text-title {
                            font-size: 30px;
                            font-weight: 700;
                            text-transform: capitalize;
                        }
                        .heartrate {
                            height: 10px;
                            margin-left: 0.2rem;
                        }
                        .divs {
                            margin-top: 50px;
                            .first {
                                padding: 10px 10px;
                                transition: .5s;
                                .title {
                                    padding-bottom: 10px;
                                    font-size: 16px;
                                    font-weight: 700;
                                    text-transform: capitalize;
                                }
                                .description {
                                    padding-bottom: 40px;
                                }
                            }
                            .first:hover {
                                background: rgba(255, 255, 255, 0.774);
                                border-radius: 10px;
                                box-shadow: 2px 0px 10px rgba(13, 94, 97, 0.137);
                                transform: translateY(-10%);
                            }
                        }
                    }
                    .image {
                        padding: 5px;
                        text-align: center;
                        width: 100%;
                        .stethoscope {
                            margin-top: -40px;
                            width: 350px;
                            margin-left: -100px;
                            
                           
                        }
                    }
                }
            }
        }
        .our-teams-section {
            // width: 100%;
            // margin: 0;
            // padding: 0;
            .our-teams-title {
                text-align: center;
                font-size: 30px;
                align-content: center;
                padding-top: 100px;
                text-transform: capitalize;
                font-weight: 700;
                margin-bottom: 50px;
            }
            .our-teams {
                width: 100%;
                margin-bottom: 20px;
                margin: auto;
                .team {
                    width: 100%;
                    box-shadow: 2px 0 5px rgba(7, 7, 7, 0.137);
                    border-radius: 10px;
                    margin-bottom: 20px;
                    .stethoscope {
                        width: 300px;
                        padding: 50px;
                    }
                    .team-details {
                        text-align: center;
                        .team-name {
                            font-size: 20px;
                            font-weight: 700;
                            color: green;
                            text-transform: capitalize;
                        }
                        .team-post {
                            padding-bottom: 20px;
                            text-transform: capitalize;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
}