.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    padding: 10px 100px;
    z-index: 10000;
    background:transparent;
    font-family: 'Poppins';
    .logo {
        position: relative;
        font-weight: 700;
        color: #000;
        text-decoration: none;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: .4s;
        span {
            color: crimson;
        }
    }
    .nav-list {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .nav-item {
            position: relative;
            list-style: none;
            .nav-link {
                position: relative;
                margin: 0 15px;
                text-decoration: none;
                color: crimson;
                letter-spacing: 2px;
                font-weight: 500;
                transition: .4s;
            }
            .nav-link:hover {
                color: rgb(18, 185, 68);
            }
        }
        .close {
            list-style: none;
            cursor: pointer;
            text-transform: uppercase;
            border: 1px solid #fff;
            padding: 10px 20px;
            margin-right: 20px;
            position: absolute;
            top: 10px;
            right: 0;
            border-radius: 5px;
            display: none;

        }
    }
    .hamburger {
        cursor: pointer;
        text-transform: uppercase;
        border: 1px solid #fff;
        padding: 10px 20px;
        margin-right: 20px;
        display: none;
    }
}
.navbar.active {
    background: #fff;
    transition: .5s;
}


@media only screen and (max-width: 768px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: .5s;
        padding: 10px 5px;
        z-index: 10000;
        background:transparent;
        font-family: 'Poppins';
        .logo {
            position: relative;
            font-weight: 700;
            color: #000;
            text-decoration: none;
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            transition: .4s;
            span {
                color: crimson;
            }
        }
        .nav-list {
            position: fixed;
            display: flex;
            top: 0;
            left: -100%;
            background: #fff;
            width: 100%;
            height: 100vh;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            z-index: 99;
            transition: .5s linear;
            .nav-item {
                // position: relative;
                list-style: none;
                line-height: normal;
                .nav-link {
                    position: relative;
                    margin: 0 5px;
                    text-decoration: none;
                    color:crimson;
                    letter-spacing: 2px;
                    font-weight: 500;
                    transition: .4s;
                }
            }
            .close {
                list-style: none;
                cursor: pointer;
                text-transform: uppercase;
                border: 1px solid #fff;
                padding: 10px 20px;
                margin-right: 20px;
                position: absolute;
                top: 10px;
                right: 0;
                border-radius: 5px;
                display: block;
    
            }
        }
        .nav-list.toggle {
            left: 0;
        }
        .hamburger {
            cursor: pointer;
            text-transform: uppercase;
            border: 1px solid #fff;
            padding: 10px 20px;
            margin-right: 50px;
            display: block;
        }
    }
    .navbar.active {
        background: #fff;
        transition: .5s;
        height: 15vh;
    }
}